.name {
  width: 100%;
  margin-top: 100px;

  &__header {
    text-align: center;
  }

  &__title {
    font-size: 70px;
  }

  &__actions {
    margin: 100px;
    justify-content: flex-end;
    display: flex;
  }
}
