.statistic {
  &__label {
    display: inline-block;
    padding: .2em .4em;
    margin-bottom: 4px;
    font-size: 90%;
    background-color: rgba(27, 31, 35, .05);
    border-radius: 3px;
  }

  &__value {
    margin-left: 5px;
  }
}
